<div class="col-md-2 bg-white" >

    <ul class="list-unstyled ul-left-menu">
        <li class="border-bottom py-2 row">
            <div class="input-group px-3">
                <input type="text" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn bg-white border" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </li>
        <li id="post" class="py-2 border-bottom row "><a class="pl-3 font-weight-bold " href="~/Admin/Posts"> Bài viết</a></li>
        <li id="topic" class="py-2 border-bottom row "><a class="pl-3 font-weight-bold" href="~/Admin/Topics"> Loại bài viết</a></li>
        <li id="user" class="py-2 border-bottom row "><a class="pl-3 font-weight-bold" href="~/Admin/Users"> Tài khoản</a></li>

    </ul>
</div>
<style>
    .ul-left-menu > li > a {
        color: #2E2E2E;
    }

    .active {
        background-color: #E6E6E6;
    }
</style>

