@model IEnumerable<news_FE.Models.Topic>
    @{ 
        Layout = null;
    }
<ul class="list-group bg-white">
    <li class="list-group-item bg-light"><h6 class="font-weight-bold text-xanh "><i class="far fa-folder-open"></i> DANH MỤC BÀI VIẾT</h6></li>
    @foreach (var item in Model)
    {
        <li class="list-group-item"><a class="card-link text-body1" href="~/@item.Slug">@item.Name</a></li>
    }

</ul>